@import "tailwindcss";

@theme {
  --color-bleu-texte-click-header: #5BDCEE;
  --color-gris-texte-header: #bfc8d6;
  --color-bleu-texte-hover-header: #a2f4fd;
  --color-bg-page-tempo: #021823;
  --color-nom-profil-header: #bde6eb;
  --color-border-header: #114758;
  --color-border-photo-profil: #0f6274;
  --color-hover-cercle-profil: #5fe6f8;
}

.jetbrains-mono-regular, h1, h2, h3 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-regular, p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}